.customCard-body {
    margin-bottom: 25px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    background-color: white;
}

.customCard-header {
    display: flex;
    justify-content: space-between;
}

.summary {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.summaryTable {
    width: 70%;
    background-color: white;
    border-radius: 10px;
    padding-top: 5px;
}

.summaryTable th,  .summaryTable td{
    width: 15%;
    height: 60;
    text-align: center;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    background-color: #d2d3d6;
    color: black;
}

#add_note_button {
    float: right;
    margin-bottom: 15px;
}

.dropDownBtn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 7px;
}

.alltables {
    width: 100%;
}

#clientNotesBlock {
    padding: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    background-color: white;
    width: 60%;
}

#total_of_assets, #total_of_liabilities, #total_of_equity {
    background: rgb(100, 100, 100);
    color: white;
}