{% extends 'base.html' %}

{% block current3 %} current {% endblock current3 %}

{% block content %}
<div class="forTopSection">
  <h5 id="DispalyNameOfCompany">JordenSky</h5>
  <h1><b>Analytics</b></h1>
</div>
<br>

<div class="row">
  <div class="col-7">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link {%block active%}{%endblock active%} " aria-current="page" href="/analytics">MIS Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {%block active2%}{%endblock active2%} " href="/analytics/insights">Insights</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {%block active3%}{%endblock active3%} " href="/analytics/deep_insights/">Deep Insights</a>
      </li>
    </ul>
  </div>
  <div class="col-5 form">
    <form action="">
      <input type="month" name="date" id="periodSelector" onchange="changePeriod(this.value)">
    </form>
  </div>
</div><br>
{% block body %}{% endblock body %}
{% block script %}{% endblock script %}

{% endblock content %}