{% extends 'base.html' %}

{% block current3 %} current {% endblock current3 %}

{% block content %}
<br>
<div>
  <form action="" class="form">
    <input type="month" name="date" id="periodSelector" onchange="changePeriod(this.value)">
  </form>
</div>
<br>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {%block active%}{%endblock active%}" aria-current="page" href="/analytics">MIS Report</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {%block active2%}{%endblock active2%}" href="/analytics/insights">Insights</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {%block active3%}{%endblock active3%}" href="/analytics/deep_insights/">Deep Insights</a>
  </li>
</ul>
{% block body %}{% endblock body %}
{% block script %}{% endblock script %}

{% endblock content %}