{% extends 'base.html' %}
{% load static %}
{% block current3 %} current {% endblock current3 %}
{% block title %}Insights | Transactions{% endblock title %}
{% block content %}

<h1>Transactions for {{ expense_head }}</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Name of Payee</th>
      <th scope="col" style="text-align:right;">{{ current_period }}</th>
      <th scope="col" style="text-align:right;">{{ previous_period }}</th>
      <th scope="col" style="text-align:center;">% Change</th>
      <th scope="col" style="text-align:right;">Avg of last 3 months</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction, trans_detail in response_data.items %}
    <tr>
      <th scope="row">{{ trans_detail.payee_category }}</th>
      {% if transaction == '' %}
      <th>Others</th>
      {% else %}
      <th>{{ transaction }}</th>
      {% endif %}
      <td style="text-align:right;">{{ trans_detail.current }}</td>
      <td style="text-align:right;">{{ trans_detail.previous }}</td>
      <td style="text-align:center;">{{ trans_detail.per_change }}%</td>
      <td style="text-align:right;">{{ trans_detail.three_month_avg }}</td>
    </tr>
    {% endfor %}
    <tr>
      <th colspan="2">Total</th>
      <th style="text-align:right;">{{ totals.current }}</th>
      <th style="text-align:right;">{{ totals.previous }}</th>
      <th style="text-align:center;">{{ totals.per_change }}%</th>
      <th style="text-align:right;">{{ totals.three_month_avg }}</th>
    </tr>
  </tbody>
</table>

{% endblock content %}