#alertsBox{
	background-color: white;
	border-radius: 5px;
	padding: 10px;
}

.card{
    margin-bottom: 10px;
    background-color: rgb(252, 248, 244);
}

.card-body {
    padding: 5px;
}

.card-body p {
    font-size: 14px;
    margin-bottom: 5px;
}

i {
	margin-right: 10px;
}

#monthly_status{
	height: 120px;
}

#quarterly_status{
	height: 80px;
}