{% extends 'base.html' %}
{% load static %}

{% block current2 %} current {% endblock current2 %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
<script src="https://kit.fontawesome.com/de98056360.js" crossorigin="anonymous"></script>

<div class="forTopSection">
  <h5 id="DispalyNameOfCompany">JordenSky</h5>
  <h1><b>Accounts</b></h1>
</div>

<br>
<div class="row">

  <div class="col-8">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link {%block active%}{%endblock active%}" aria-current="page" href="/accounts">Income</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {%block active2%}{%endblock active2%}" href="/accounts/balance_sheet">Balance Sheet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {%block active3%}{%endblock active3%}" href="/accounts/cashflow">Cashflow</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {%block active4%}{%endblock active4%}" href="/accounts/ratios">Ratios</a>
      </li>
    </ul>
  </div>

  <div class="col-4 form">
    <form action="" id="accounts_section_calender">
      <input type="month" name="date" id="periodSelector" onchange="changePeriod(this.value)">
    </form>
  </div>
</div>
<br>
<div class="shadow-sm customCard" id="Custom_card">
  <div class="customCard-header">
      <strong id="table_info_head"></strong>
      <!-- <button type="button" class="btn-close" id="btnClose"></button> -->
  </div>
  <div class="customCard-body" id="table_info">

  </div>
</div>
{% block body %}{% endblock body %}
{% block script %}{% endblock script %}
{% endblock content %}