{% extends 'accounts_base.html' %}
{% load static %}
{% block title %}Accounts | Profit and Loss{% endblock title %}
{% block active %}active{% endblock active %}
{% block body %}

<table class="table " style="width:100%;margin-top:20px;">
  <thead>
    <tr>
      <th scope="col"> Sales </th>
      <th scope="col"> COGS </th>
      <th scope="col"> Gross Profit </th>
      <th scope="col"> Expenses </th>
      <th scope="col"> Profit </th>
    </tr>
  </thead>
  <tbody>
    <td id="head_sales"></td>
    <td id="head_cogs"></td>
    <td id="head_grossprofit"></td>
    <td id="head_exp"></td>
    <td id="head_profit"></td>
  </tbody>
</table>

<table class="table table-bordered" id="pnltable">
  <thead>
    <tr>
      <th scope="col" style="width: 35%;">Particulars</th>
      <th scope="col" style="width: 12%; text-align: right;" id="current_month"></th>
      <th scope="col" style="width: 8%; text-align: center;">%</th>
      <th scope="col" style="width: 12%; text-align: right;" id="previous_month"></th>
      <th scope="col" style="width: 8%; text-align: center;">%</th>
      <th scope="col" style="width: 12%; text-align: center;">% Change</th>
      <th scope="col" style="width: 13%; text-align: right;">Avg</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active" id="income_total">
      <th scope="row" colspan="7">Income</th>
    </tr>
    <tr>
      <td colspan="7">
        <table class="table mb-0" id="income">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="table-active" id="cogs">
    </tr>
    <tr>
      <td colspan="7"></td>
    </tr>
    <tr class="table-active" id="grossprofit"></tr>
    <tr>
      <td colspan="7"></td>
    </tr>
    <tr class="table-active" id="expense_total">
      <th scope="row" colspan="7">Expenses</th>
    </tr>
    <tr>
      <td colspan="7">
        <table class="table mb-0" id="expense">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="table-active" id="ebit"></tr>
    <tr id="int_exp"></tr>
    <tr id="tax_exp"></tr>
    <tr class="table-active" id="netprofit"></tr>
  </tbody>
</table>

<script>
  $(function () {
    $("#export").click(function () {
      console.log('Button click detect');
      $("#pnltable").table2excel({
        exclude: ".noExl",
        name: "Worksheet Name",
        filename: "SomeFile", //do not include extension
        fileext: ".xls" // file extension
      });
    });
  });
</script>
{% endblock body %}

{% block script %}
<script src="{% static 'js/pnl.js' %}"></script>
{% endblock script %}