{% extends 'accounts_base.html' %}
{% load static %}
{% block title %}Accounts | Balance Sheet{% endblock title %}
{% block active2 %}active{% endblock active2 %}
{% block body %}

<div class="summary">
  <div class="shadow-sm summaryTable">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col"> Total Assets </th>
          <th scope="col"> Total Liabilities </th>
          <th scope="col"> Equity </th>
        </tr>
      </thead>
      <tbody>
        <td id="head_assets"></td>
        <td id="head_liabilities"></td>
        <td id="head_equity"></td>
      </tbody>
    </table>
  </div>
</div>

<button id="add_note_button" data-bs-toggle="modal" data-bs-target="#noteModal">Add a note</button>
<div class="modal fade" id="noteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="noteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModalLabel">Add a Note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <textarea type="text" class="form-control" value=""
            id="newNote"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" onclick="add_client_note()">Add</button>
      </div>
    </div>
  </div>
</div>

<table class="table border table-borderless" id="balsheet_table">
  <thead>
    <tr class="table-dark">
      <th scope="col" style="width: 30%;">Particulars</th>
      <th scope="col" style="width: 20%; text-align: right;" id="current_month"></th>
      <th scope="col" style="width: 20%; text-align: right;" id="previous_month"></th>
      <th scope="col" style="width: 30%; text-align: center;">Increase/Decrease(%)</th>
    </tr>
  </thead>

  <tbody>
    <tr class="accordion-toggle" id="total_of_assets" data-bs-toggle="collapse" data-bs-target=".asset_type" aria-expanded="true">

    </tr>
    <tr id="fixasset_head" class="table-secondary accordion-collapse collapse asset_type">
    </tr>
    <tr id="othasset_head" class="table-secondary accordion-collapse collapse asset_type">
    </tr>
    <tr class="accordion-collapse collapse asset_type"><td></td></tr>
    <tr id="acc_rec" class="table-secondary accordion-collapse collapse asset_type"></tr>
    <tr id="bank" class="table-secondary accordion-collapse collapse asset_type"></tr>
    <tr id="cash" class="table-secondary accordion-collapse collapse asset_type"></tr>
    <tr class="accordion-collapse collapse asset_type"><td></td></tr>
    <tr id="ocasset_head" class="table-secondary accordion-collapse collapse asset_type">
    </tr>
    <tr id="stock_head" class="table-secondary accordion-collapse collapse asset_type">
    </tr>
    <tr><td></td></tr>

    <tr class="accordion-toggle" id="total_of_liabilities" data-bs-toggle="collapse" data-bs-target=".liability_type" aria-expanded="true">
    
    </tr>
    <tr id="ltliab_head" class="table-secondary accordion-collapse collapse liability_type">
    </tr>
    <tr class="accordion-collapse collapse liability_type"><td></td></tr>
    <tr id="othliab_head" class="table-secondary accordion-collapse collapse liability_type">
    </tr>
    <tr class="accordion-collapse collapse liability_type"><td></td></tr>
    <tr id="acc_pay" class="table-secondary accordion-collapse collapse liability_type"></tr>
    <tr class="accordion-collapse collapse liability_type"><td></td></tr>
    <tr id="ocliab_head" class="table-secondary accordion-collapse collapse liability_type">
    </tr>
    <tr><td></td></tr>

    <tr class="accordion-toggle" id="total_of_equity" data-bs-toggle="collapse" data-bs-target=".equity_type" aria-expanded="true">
    
    </tr>
    <tr id="equity" class="table-secondary">
    </tr>

  </tbody>

</table>

<br><h4>Your Notes</h4>
<div class="container" id="clientNotesBlock">

</div>

{% endblock body %}

{% block script %}
<script src="{% static 'js/balsheet.js' %}"></script>
{% endblock script %}