{% extends 'accounts_base.html' %}
{% load static %}
{% block title %}Balance Sheet{% endblock title %}
{% block active2 %}active{% endblock active2 %}
{% block body %}
<br>
<div>
  <form action="" class="form">
    <input type="month" name="date" id="periodSelector" onchange="changePeriod(this.value)">
  </form>
</div>
<div class="box" style="margin-top: 20px;">
  <table class="table" style="border-style: dotted;">
    <h2>Balancesheet</h2>
  </table>
</div>

<table class="table " style="width:100%;margin-top:20px;">
  <thead>
    <tr>
      <th scope="col"> Equity </th>
      <th scope="col"> Liabilities </th>
      <th scope="col"> Total Assets </th>
    </tr>
  </thead>
  <tbody>
    <td id="head_equity"></td>
    <td id="head_liabilities"></td>
    <td id="head_assets"></td>
  </tbody>
</table>

<table class="table table-striped table-bordered" id="assets">
  <thead>
    <tr>
      <th scope="col" style="width: 40%;">ASSETS</th>
      <th scope="col" style="width: 20%; text-align: right;" id="current_month_assets"></th>
      <th scope="col" style="width: 20%; text-align: right;" id="previous_month_assets"></th>
      <th scope="col" style="width: 20%; text-align: center;">% Change</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" colspan="4">Fixed Assets</th>
    </tr>
    <tr>
      <td colspan="4">
        <table class="table mb-0" id="fixasset">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th scope="row" colspan="4">Other Assets</th>
    </tr>
    <tr>
      <td colspan="4">
        <table class="table mb-0" id="othasset">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <!-- <tr>
      <th scope="row" colspan="4">Accounts Receivable</th>
    </tr> -->
    <tr>
      <td colspan="4">
        <table class="table mb-0" id="acc_rec">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr><td></td></tr>
    <!-- <tr>
      <th scope="row" colspan="4">Bank</th>
    </tr> -->
    <tr>
      <td colspan="4">
        <table class="table mb-0" id="bank">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr><td></td></tr>
    <!-- <tr>
      <th scope="row" colspan="4">Cash</th>
    </tr> -->
    <tr>
      <td colspan="4">
        <table class="table mb-0" id="cash">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr><td></td></tr>
    <tr>
      <th scope="row" colspan="4">Other Current Asset</th>
    </tr>
    <tr>
      <td colspan="4">
        <table class="table mb-0" id="ocasset">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th scope="row" colspan="4">Stock</th>
    </tr>
    <tr>
      <td colspan="4">
        <table class="table mb-0" id="stock">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-striped table-bordered" id="liabilities">
  <thead>
    <tr>
      <th scope="col" style="width: 40%;">LIABILITIES</th>
      <th scope="col" style="width: 20%; text-align: right;" id="current_month_liabilities"></th>
      <th scope="col" style="width: 20%; text-align: right;" id="previous_month_liabilities"></th>
      <th scope="col" style="width: 20%; text-align: center;">% Change</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" colspan="4">Long Term Liability</th>
    </tr>
    <tr>
      <td colspan="4">
        <table class="table mb-0" id="ltliab">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th scope="row" colspan="4">Other Liability</th>
    </tr>
    <tr>
      <td colspan="4">
        <table class="table mb-0" id="othliab">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <!-- <tr>
      <th scope="row" colspan="4">Accounts Payable</th>
    </tr> -->
    <tr>
      <td colspan="4">
        <table class="table mb-0" id="acc_pay">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr><td></td></tr>
    <tr>
      <th scope="row" colspan="4">Other Current Liability</th>
    </tr>
    <tr>
      <td colspan="4">
        <table class="table mb-0" id="ocliab">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-striped table-bordered" id="liabilities">
  <thead>
    <tr>
      <th scope="col" style="width: 40%;">EQUITIES</th>
      <th scope="col" style="width: 20%; text-align: right;" id="current_month_equity"></th>
      <th scope="col" style="width: 20%; text-align: right;" id="previous_month_equity"></th>
      <th scope="col" style="width: 20%; text-align: center;">% Change</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" colspan="4">Equity</th>
    </tr>
    <tr>
      <td colspan="4">
        <table class="table mb-0" id="equity">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

{% endblock body %}

{% block script %}
<script src="{% static 'js/balsheet.js' %}"></script>
{% endblock script %}