{% extends 'accounts_base.html' %}
{% load static %}
{% block title %}Accounts | Cashflow{% endblock title %}
{% block active3 %}active{% endblock active3 %}
{% block body %}

<div class="summary">
  <div class="shadow-sm summaryTable">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Operations</th>
          <th scope="col">Investing</th>
          <th scope="col">Financing</th>
          <th scope="col">Cash Balance</th>
        </tr>
      </thead>
      <tbody>
        <td id="head_cf_operations"></td>
        <td id="head_cf_investing"></td>
        <td id="head_cf_financing"></td>
        <td id="head_cash_bal"></td>
      </tbody>
    </table>
  </div>
</div>

<button id="add_note_button" data-bs-toggle="modal" data-bs-target="#noteModal">Add a note</button>
<div class="modal fade" id="noteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="noteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModalLabel">Add a Note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <textarea type="text" class="form-control" value=""
            id="newNote"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" onclick="add_client_note()">Add</button>
      </div>
    </div>
  </div>
</div>

<table class="table border table-borderless" id="cashflow_table">
  <thead>
    <tr class="table-dark">
      <th scope="col" style="width: 35%;">Particulars</th>
      <th scope="col" style="width: 20%; text-align: right;" id="current_month"></th>
      <th scope="col" style="width: 20%; text-align: right;" id="previous_month"></th>
      <th scope="col" style="width: 25%; text-align: center;">Increase/Decrease(%)</th>
    </tr>
  </thead>
  <tbody>
    <tr id="beg_cash_bal" class="table-secondary">
    </tr>
    <tr>
      <td colspan="5"></td>
    </tr>
    <tr id="cf_op_head" class="table-secondary accordion-toggle" data-bs-toggle="collapse" data-bs-target=".cf_op_head" aria-expanded="true">
      
    </tr> 
    <tr>
      <td colspan="5"></td>
    </tr>

    <tr id="cf_inv_head" class="table-secondary accordion-toggle" data-bs-toggle="collapse" data-bs-target=".cf_inv_head" aria-expanded="true">
      
    </tr>
    <tr>
      <td colspan="5"></td>
    </tr>

    <tr id="cf_fin_head" class="table-secondary accordion-toggle" data-bs-toggle="collapse" data-bs-target=".cf_fin_head" aria-expanded="true">
      
    </tr>
    <tr>
      <td colspan="5"></td>
    </tr>

    <tr id="netABC" class="table-secondary">
    </tr>
    <tr>
      <td colspan="5"></td>
    </tr>
    <tr id="endbal" class="table-secondary">
    </tr>
  </tbody>
</table>

<br><h4>Your Notes</h4>
<div class="container" id="clientNotesBlock">

</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock body %}

{% block script %}
<script src="{% static 'js/cashflow.js' %}"></script>
{% endblock script %}