{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/acctable.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <title>Transaction Details</title>
</head>

<body>
  <div class="sidenav">
    <a href="/">Home</a>
    <a href="/accounts" class="current">Accounts</a>
    <a href="/analytics">Analytics</a>
    <a href="/taxes">Taxes</a>
    <a href="/help">Help</a>
    <a href="/profile">Profile</a>
  </div>
  <div class="main">
    <h1>Transactions for {{ account }}</h1>
    <table class="table table-bordered">
      {% if account == "direct_income" or account == "indirect_income" %}
      <thead>
        <tr>
          <th scope="col">Status</th>
          <th scope="col">Name of Payee</th>
          <th scope="col" style="text-align:right;">{{ current_period }}</th>
          <th scope="col" style="text-align:right;">{{ previous_period }}</th>
          <th scope="col" style="text-align:center;">% Change</th>
          <th scope="col" style="text-align:right;">{{ pre_previous_period }}</th>
          <th scope="col" style="text-align:center;">% Change</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction, trans_detail in response_data.items %}
        <tr>
          <th scope="row">{{ trans_detail.payee_category }}</th>
          {% if transaction == '' %}
          <th>Others</th>
          {% else %}
          <th>{{ transaction }}</th>
          {% endif %}
          <td style="text-align:right;">{{ trans_detail.current }}</td>
          <td style="text-align:right;">{{ trans_detail.previous }}</td>
          <td style="text-align:center;">{{ trans_detail.per_change }}%</td>
          <td style="text-align:right;">{{ trans_detail.pre_prev }}</td>
          <td style="text-align:center;">{{ trans_detail.prev_per_change }}%</td>
        </tr>
        {% endfor %}
        <tr>
          <th colspan="2">Total</th>
          <th style="text-align:right;">{{ totals.current }}</th>
          <th style="text-align:right;">{{ totals.previous }}</th>
          <th style="text-align:center;">{{ totals.per_change }}%</th>
          <th style="text-align:right;">{{ totals.pre_prev }}</th>
          <th style="text-align:center;">{{ totals.prev_per_change }}%</th>
        </tr>
      </tbody>
      {% else %}
      <thead>
        <tr>
          <th scope="col">Status</th>
          <th scope="col">Name of Payee</th>
          <th scope="col" style="text-align:right;">{{ current_period }}</th>
          <th scope="col" style="text-align:right;">{{ previous_period }}</th>
          <th scope="col" style="text-align:center;">% Change</th>
          <th scope="col" style="text-align:right;">Avg of last 3 months</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction, trans_detail in response_data.items %}
        <tr>
          <th scope="row">{{ trans_detail.payee_category }}</th>
          {% if transaction == '' %}
          <th>Others</th>
          {% else %}
          <th>{{ transaction }}</th>
          {% endif %}
          <td style="text-align:right;">{{ trans_detail.current }}</td>
          <td style="text-align:right;">{{ trans_detail.previous }}</td>
          <td style="text-align:center;">{{ trans_detail.per_change }}%</td>
          <td style="text-align:right;">{{ trans_detail.three_month_avg }}</td>
        </tr>
        {% endfor %}
        <tr>
          <th colspan="2">Total</th>
          <th style="text-align:right;">{{ totals.current }}</th>
          <th style="text-align:right;">{{ totals.previous }}</th>
          <th style="text-align:center;">{{ totals.per_change }}%</th>
          <th style="text-align:right;">{{ totals.three_month_avg }}</th>
        </tr>
      </tbody>
      {% endif %}
    </table>
  </div>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</body>

</html>