{% extends 'accounts_base.html' %}
{% load static %}
{% block title %}Accounts | Ratios{% endblock title %}
{% block active4 %} active {% endblock active4 %}
{% block body %}

<button id="add_note_button" data-bs-toggle="modal" data-bs-target="#noteModal">Add a note</button>
<div class="modal fade" id="noteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="noteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModalLabel">Add a Note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <textarea type="text" class="form-control" value=""
            id="newNote"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" onclick="add_client_note()">Add</button>
      </div>
    </div>
  </div>
</div>

<table class="table border table-borderless" id="ratios_table">
  <thead>
    <tr class="table-dark">
      <th scope="col" style="width: 20%;">Particulars</th>
      <th scope="col" style="width: 15%; text-align: right;" id="current_month"></th>
      <th scope="col" style="width: 15%; text-align: right;" id="previous_month"></th>
      <th scope="col" style="width: 15%; text-align: center;">Avg last 3 month</th>
      <th scope="col" style="width: 15%; text-align: center;">Ideal Ratio</th>
      <th scope="col" style="width: 20%; text-align: center;">Actions to be Taken</th>
    </tr>
  </thead>
  <tbody>
    <tr id="gross_profit" class="table-secondary">
    </tr>
    <tr>
      <td colspan="6"></td>
    </tr>
    <tr id="net_profit" class="table-secondary">
    </tr>
    <tr>
      <td colspan="6"></td>
    </tr>
    <tr id="profit_ratios" class="table-secondary accordion-toggle" data-bs-toggle="collapse" data-bs-target=".profit_ratios" aria-expanded="true">
      <th scope="row" colspan="6">Profitability Ratios
        <button type="button" id="rotateBtn" class="accordion-toggle" data-bs-toggle="collapse" data-bs-target=".profit_ratios" aria-expanded="false" aria-hidden="true"><svg cla xmlns="\http://www.w3.org/2000/svg&quot;" viewBox="0 0 66.91 122.88" focusable="false" ><path d="M1.95,111.2c-2.65,2.72-2.59,7.08,0.14,9.73c2.72,2.65,7.08,2.59,9.73-0.14L64.94,66l-4.93-4.79l4.95,4.8 c2.65-2.74,2.59-7.11-0.15-9.76c-0.08-0.08-0.16-0.15-0.24-0.22L11.81,2.09c-2.65-2.73-7-2.79-9.73-0.14 C-0.64,4.6-0.7,8.95,1.95,11.68l48.46,49.55L1.95,111.2L1.95,111.2L1.95,111.2z"></path></svg></button>
      </th>
    </tr>
    <tr>
      <td colspan="6"></td>
    </tr>
    <tr id="liquidity_ratios" class="table-secondary accordion-toggle" data-bs-toggle="collapse" data-bs-target=".liquidity_ratios" aria-expanded="true">
      <th scope="row" colspan="6">Liquidity Ratio
        <button type="button" id="rotateBtn" class="accordion-toggle" data-bs-toggle="collapse" data-bs-target=".liquidity_ratios" aria-expanded="false" aria-hidden="true"><svg cla xmlns="\http://www.w3.org/2000/svg&quot;" viewBox="0 0 66.91 122.88" focusable="false" ><path d="M1.95,111.2c-2.65,2.72-2.59,7.08,0.14,9.73c2.72,2.65,7.08,2.59,9.73-0.14L64.94,66l-4.93-4.79l4.95,4.8 c2.65-2.74,2.59-7.11-0.15-9.76c-0.08-0.08-0.16-0.15-0.24-0.22L11.81,2.09c-2.65-2.73-7-2.79-9.73-0.14 C-0.64,4.6-0.7,8.95,1.95,11.68l48.46,49.55L1.95,111.2L1.95,111.2L1.95,111.2z"></path></svg></button>
      </th>
    </tr>
    <tr>
      <td colspan="6"></td>
    </tr>
    <tr id="op_eff_ratios" class="table-secondary accordion-toggle"  data-bs-toggle="collapse" data-bs-target=".op_eff_ratios" aria-expanded="true">
      <th scope="row" colspan="6">Operational efficiency Ratios
        <button type="button" id="rotateBtn" class="accordion-toggle" data-bs-toggle="collapse" data-bs-target=".op_eff_ratios" aria-expanded="false" aria-hidden="true"><svg cla xmlns="\http://www.w3.org/2000/svg&quot;" viewBox="0 0 66.91 122.88" focusable="false" ><path d="M1.95,111.2c-2.65,2.72-2.59,7.08,0.14,9.73c2.72,2.65,7.08,2.59,9.73-0.14L64.94,66l-4.93-4.79l4.95,4.8 c2.65-2.74,2.59-7.11-0.15-9.76c-0.08-0.08-0.16-0.15-0.24-0.22L11.81,2.09c-2.65-2.73-7-2.79-9.73-0.14 C-0.64,4.6-0.7,8.95,1.95,11.68l48.46,49.55L1.95,111.2L1.95,111.2L1.95,111.2z"></path></svg></button>
      </th>
    </tr>
    <tr>
      <td colspan="6"></td>
    </tr>
    <tr id="solvency_ratios" class="table-secondary accordion-toggle" data-bs-toggle="collapse" data-bs-target=".solvency_ratios" aria-expanded="true">
      <th scope="row" colspan="6">Solvency Ratios
        <button type="button" id="rotateBtn" class="accordion-toggle" data-bs-toggle="collapse" data-bs-target=".solvency_ratios" aria-expanded="false" aria-hidden="true"><svg cla xmlns="\http://www.w3.org/2000/svg&quot;" viewBox="0 0 66.91 122.88" focusable="false" ><path d="M1.95,111.2c-2.65,2.72-2.59,7.08,0.14,9.73c2.72,2.65,7.08,2.59,9.73-0.14L64.94,66l-4.93-4.79l4.95,4.8 c2.65-2.74,2.59-7.11-0.15-9.76c-0.08-0.08-0.16-0.15-0.24-0.22L11.81,2.09c-2.65-2.73-7-2.79-9.73-0.14 C-0.64,4.6-0.7,8.95,1.95,11.68l48.46,49.55L1.95,111.2L1.95,111.2L1.95,111.2z"></path></svg></button>
      </th>
    </tr>
  </tbody>
</table>

<br><h4>Your Notes</h4>
<div class="container" id="clientNotesBlock">

</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock body %}

{% block script %}
<script src="{% static 'js/ratios.js' %}"></script>
{% endblock script %}