{% extends 'accounts_base.html' %}
{% load static %}
{% block title %}Ratios{% endblock title %}
{% block active4 %} active {% endblock active4 %}
{% block body %}
<div class="month-dropdown float-end">
  <select class="form-select" id="periodSelector" onchange="changePeriod(this.value)" style="width:auto;">
    <option value="Choose Month">Choose Month</option>
    <option value="2022-01-31">January</option>
    <option value="2022-02-28">February</option>
    <option value="2022-03-31">March</option>
    <option value="2022-04-30">April</option>
    <option value="2022-05-31">May</option>
    <option value="2022-06-30">June</option>
  </select>
</div>
<div class="box" style="margin-top: 20px;">
  <h2>Ratios</h2>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col" style="width: 40%;"></th>
      <th scope="col" style="width: 15%; text-align: right;" id="current_month"></th>
      <th scope="col" style="width: 15%; text-align: right;" id="previous_month"></th>
      <th scope="col" style="width: 15%; text-align: center;">Avg last 3 month</th>
      <th scope="col" style="width: 15%; text-align: center;">Ideal Ratio</th>
    </tr>
  </thead>
  <tbody>
    <tr id="gross_profit">
    </tr>
    <tr>
      <td colspan="5"></td>
    </tr>
    <tr id="pbt">
    </tr>
    <tr>
      <td colspan="5"></td>
    </tr>
    <tr>
      <th scope="row" colspan="5">Profitability Ratios</th>
    </tr>
    <tr>
      <td colspan="5">
        <table class="table mb-0" id="profit_ratios">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th scope="row" colspan="5">Liquidity Ratio</th>
    </tr>
    <tr>
      <td colspan="5">
        <table class="table mb-0" id="liquidity_ratio">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th scope="row" colspan="5">Operational efficiency Ratios</th>
    </tr>
    <tr>
      <td colspan="5">
        <table class="table mb-0" id="op_eff_ratios">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th scope="row" colspan="5">Solvency Ratios</th>
    </tr>
    <tr>
      <td colspan="5">
        <table class="table mb-0" id="solvency_ratios">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% endblock body %}

{% block script %}
<script src="{% static 'js/ratios.js' %}"></script>
{% endblock script %}