{% extends 'profiles_base.html' %}
{% load static %}
{% block title %}Profile | Bank Details{% endblock title %}
{% block active5 %}active{% endblock active5 %}
{% block body %}
<br>
<h1>Bank Details</h1><br>
<div class="bankdetails">
  <div class="accordion" id="bankDetailsList"></div>
  <div class="for_btn mt-5 mb-5" style="padding-left:40%;">
      <button type="button" class="btn btn-success" id="add_new" onclick="addNewBank()">Add More</button>
      <button type="button" class="btn btn-primary" id="save_bank_details" onclick="saveBankDetails()">Save</button>
  </div>
</div>

{% endblock body %}

{% block script %}
<script src="{% static 'js/bankdet.js' %}"></script>
{% endblock script %}