{% extends 'profiles_base.html' %}
{% load static %}
{% block title %}Profile | Context{% endblock title %}
{% block active3 %}active{% endblock active3 %}
{% block body %}
<br>
<h1>Context</h1><br>
<div class="info">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item border-light shadow-sm">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed fw-bold " type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <h6>About Company</h6>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">

          <textarea class="form-control" id="about_company" cols="80" rows="10"></textarea>
        </div>
      </div>
    </div>

    <div class="accordion-item border-light shadow-sm">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h6>What Company Will Do</h6>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <textarea class="form-control" id="work_profile" cols="80" rows="10"></textarea>
        </div>
      </div>
    </div>

    <div class="accordion-item border-light shadow-sm">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h6>Key Information To be Stored</h6>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <textarea class="form-control" id="key_info" cols="80" rows="10"></textarea>

        </div>

      </div>
    </div>

    <div class="accordion-item border-light shadow-sm">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <h6>Any Specific Request of the Company</h6>
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <textarea class="form-control" id="specific_request" cols="80" rows="10"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="for_btn" style="text-align: right;margin:10px;">
  <button type="button" class="btn btn-primary btn-lg btn-block float-right" id="Save_context" onclick="save_context()"
    style="margin:2px;">Save</button>
</div>
</div>{% endblock body %}

{% block script %}
<script src="{% static 'js/context.js' %}"></script>
{% endblock script %}