{% extends 'taxes_base.html' %}
{% load static %}
{% block title %}GST{% endblock title %}
{% block active2 %}active{% endblock active2 %}
{% block body %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
  <!-- <div class="month-dropdown float-end">
    <select class="form-select" id="periodSelector" onchange="changePeriod(this.value)" style="width:auto;">
      <option value="Choose Month">Choose Month</option>
      <option value="2022-01-31">January</option>
      <option value="2022-02-28">February</option>
      <option value="2022-03-31">March</option>
      <option value="2022-04-30">April</option>
      <option value="2022-05-31">May</option>
      <option value="2022-06-30">June</option>
    </select>
  </div> -->
 <h1>GST</h1>

{% endblock body %}

{% block script %}
  <!-- <script src="{% static 'js/report.js' %}"></script> -->
{% endblock script %}