{% extends 'taxes_base.html' %}
{% load static %}
{% block title %}Taxes | GST{% endblock title %}
{% block active2 %}active{% endblock active2 %}
{% block taxhead %} GST {% endblock taxhead %}

{% block body %}
<div class="accordion" id="accordionPanelsStayOpenExample">

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" onclick="showPending('gstr1Status')">Pending</button>
    <button type="button" class="btn btn-primary" onclick="showAll('gstr1Status')">See All</button>
  </div>
  <br><br>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Monthly GSTR-1 status
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body row" id="gstr1_status">
        
      </div>
    </div>
  </div>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" onclick="showPending('gstr3BStatus')">Pending</button>
    <button type="button" class="btn btn-primary" onclick="showAll('gstr3BStatus')">See All</button>
  </div>
  <br><br>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Monthly GSTR-3B status
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body row" id="gstr3b_status">
       
      </div>
    </div>
  </div>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" onclick="showPending('gstr8Status')">Pending</button>
    <button type="button" class="btn btn-primary" onclick="showAll('gstr8Status')">See All</button>
  </div>
  <br><br>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Monthly GSTR-8 status
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body row" id="gstr8_status">
       
      </div>
    </div>
  </div>
  
</div>
{% endblock body %}

{% block script %}
<script src="{% static 'js/gstax.js' %}"></script>
{% endblock script %}