{% extends 'taxes_base.html' %}
{% load static %}
{% block title %}Taxes | Income Tax{% endblock title %}
{% block active %}active{% endblock active %}
{% block taxhead %} Income Tax {% endblock taxhead %}

{% block body %}
<div class="accordion" id="accordionPanelsStayOpenExample">

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" onclick="showPending('monthlyStatus')">Pending</button>
    <button type="button" class="btn btn-primary" onclick="showAll('monthlyStatus')">See All</button>
  </div>
  <br><br>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Monthly TDS payment status
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
      aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body row" id="monthly_status">

      </div>
    </div>
  </div>
  
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" onclick="showPending('quarterlyStatus')">Pending</button>
    <button type="button" class="btn btn-primary" onclick="showAll('quarterlyStatus')">See All</button>
  </div>
  <br><br>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Quarterly TDS filling status
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body row" id="quarterly_status">

      </div>
    </div>
  </div>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" onclick="showPending('advanceStatus')">Pending</button>
    <button type="button" class="btn btn-primary" onclick="showAll('advanceStatus')">See All</button>
  </div>
  <br><br>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Advance Tax filling status
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body row" id="advance_status">

      </div>
    </div>
  </div>
  
</div>

{% endblock body %}

{% block script %}
<script src="{% static 'js/inctax.js' %}"></script>
{% endblock script %}