{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <title>Taxes | {% block title %}{% endblock title %}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex flex-row-reverse">
      <a class="navbar-brand" href="/auth/logout/">Logout</a>
    </div>
  </nav>
  <div class="sidenav">
    <a href="/">Home</a>
    <a href="/accounts">Accounts</a>
    <a href="/analytics">Analytics</a>
    <a href="/taxes" class="current">Taxes</a>
    <a href="/help">Help</a>
    <a href="/profile">Profile</a>
  </div>
  <div class="main">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link {%block active%}{%endblock active%}" aria-current="page" href="/taxes">Income Tax</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {%block active2%}{%endblock active2%}" href="/taxes/gst">GST</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {%block active3%}{%endblock active3%}" href="/taxes/othertax">Other Taxes</a>
      </li>
    </ul>
    {% block body %}{% endblock body %}
  </div>
  {% block script %}{% endblock script %}
</body>

</html>