{% extends 'base.html' %}
{% load static %}

{% block current4 %} current {% endblock current4 %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/taxes.css' %}">
<div class="forTopSection">
  <h5 id="DispalyNameOfCompany">JordenSky</h5>
  <h1><b>Taxes</b></h1>
</div>
<br>

<div class="row">
  <div class="col-7">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link {%block active%}{%endblock active%}" aria-current="page" href="/taxes">Income Tax</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {%block active2%}{%endblock active2%} forAlignmentM" href="/taxes/gst">GST</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {%block active3%}{%endblock active3%}" href="/taxes/othertax">Other Taxes</a>
      </li>
    </ul>
  </div>
  <div class="col-5 form">
    <form action="">
      <input type="month" name="date" id="periodSelector" onchange="changePeriod(this.value)">
    </form>
  </div>
</div><br>

<h1>{% block taxhead %} {% endblock taxhead %}</h1><br>

<h3>Alerts</h3>
<div id="alertsBox">

</div><br>

<h3>Status</h3>
<div class="container">
  <div class="row">
    <div class="form-check col-3">
      <i class="fi fi-rs-check"></i>
      <label class="form-check-label" for="flexRadioDefault1"> Done </label>
    </div>
    <div class="form-check col-3">
      <i class="fi fi-rs-hourglass-end"></i>
      <label class="form-check-label" for="flexRadioDefault1"> Pending </label>
    </div>
    <div class="form-check col-3">
      <i class="fi fi-rs-sensor-alert"></i>
      <label class="form-check-label" for="flexRadioDefault1"> Client Action needed </label>
    </div>
    <div class="form-check col-3">
      <i class="fi fi-rs-lock"></i>
      <label class="form-check-label" for="flexRadioDefault1"> Not Applicable </label>
    </div>
  </div><br>
  <select class="form-select" id="fySelector" onchange="changeFinYear(this.value)" style="width:auto; float: right;">
    <option value="Choose FY">Financial Year</option>
    <option value="2018">FY 2018-19</option>
    <option value="2019">FY 2019-20</option>
    <option value="2020">FY 2020-21</option>
    <option value="2021">FY 2021-22</option>
    <option value="2022">FY 2022-23</option>
  </select><br>

</div><br>

{% block body %}{% endblock body %}

{% block script %}{% endblock script %}

{% endblock content %}