{% extends 'accounts_base.html' %}
{% block title %}Profit and Loss{% endblock title %}
{% block body %}
<div class="box" style="margin-top: 20px;">
  <table class="table" style="border-style: dotted;">
    <p>Profit & Loss Statement will help you understand the current book financial position of the
      company for the
      period selected. (we can change)
    </p>
  </table>
</div>

<table class="table " style="width:100%;margin-top:20px;">
  <thead>
    <tr>
      <th scope="col">Sales </th>
      <th scope="col"> COGS </th>
      <th scope="col"> Gross Profit </th>
      <th scope="col"> Expenses</th>
      <th scope="col"> Profit</th>
    </tr>
  </thead>
  <tbody>
    <td>INR 6.2 Lacs</td>
    <td>INR 3.1 Lacs</td>
    <td>INR 3.1 Lacs</td>
    <td>INR 2.1 Lacs</td>
    <td>INR 1.0 Lacs</td>
  </tbody>
</table>

<table class="table table-striped table-bordered" id="pnltable">
  <thead>
    <tr>
      <th scope="col" style="width: 40%;">ACCOUNT</th>
      <th scope="col" style="width: 13%;">Current</th>
      <th scope="col" style="width: 13%;">Previous</th>
      <th scope="col" style="width: 13%;">% Change</th>
      <th scope="col" style="width: 21%;">Avg(last 3 months)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" colspan="5">Income</th>
    </tr>
    <tr>
      <td colspan="5">
        <table class="table mb-0" id="income">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th scope="row" colspan="5">Costs of Goods Sold</th>
    </tr>
    <tr>
      <td colspan="5">
        <table class="table mb-0" id="cogs">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th scope="row">Gross Profit</th>
      <td id="grossprofit" style="text-align: right;"></td>
    </tr>
    <tr>
      <td colspan="5"></td>
    </tr>
    <tr>
      <th scope="row" colspan="5">Expenses</th>
    </tr>
    <tr>
      <td colspan="5">
        <table class="table mb-0" id="expense">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th scope="row">EBITDA</th>
      <td id="ebitda" style="text-align: right;"></td>
    </tr>
    <tr>
      <th scope="row">EBTD</th>
      <td id="ebtd" style="text-align: right;"></td>
    </tr>
  </tbody>
</table>

{% endblock body %}