{% extends 'accounts_base.html' %}
{% block title %}Balance Sheet{% endblock title %}
{% block body %}
<div class="box" style="margin-top: 20px;">
  <table class="table" style="border-style: dotted;">
    <h2>Balancesheet</h2>
  </table>
</div>

<table class="table " style="width:100%;margin-top:20px;">
  <thead>
    <tr>
      <th scope="col"> Equity </th>
      <th scope="col"> Liabilities </th>
      <th scope="col"> Total Assets </th>
      <th scope="col"> Cash & Bank Balance</th>
    </tr>
  </thead>
  <tbody>
    <td>INR 6.2 Lacs</td>
    <td>INR 3.1 Lacs</td>
    <td>INR 3.1 Lacs</td>
    <td>INR 2.1 Lacs</td>
  </tbody>
</table>

<table class="table table-striped table-bordered" id="assets">
  <thead>
    <tr>
      <th scope="col" style="width: 40%;">ASSETS</th>
      <th scope="col" style="width: 13%;">Current</th>
      <th scope="col" style="width: 13%;">Previous</th>
      <th scope="col" style="width: 13%;">% Change</th>
      <th scope="col" style="width: 21%;">Avg(last 3 months)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" colspan="5">Cash</th>
    </tr>
    <tr>
      <td colspan="5">
        <table class="table mb-0" id="cash">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th scope="row" colspan="5">Accounts Receivable</th>
    </tr>
    <tr>
      <td colspan="5">
        <table class="table mb-0" id="acc_rec">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th scope="row" colspan="5">Fixed Asset</th>
    </tr>
    <tr>
      <td colspan="5">
        <table class="table mb-0" id="fixasset">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th scope="row" colspan="5">Other Current Asset</th>
    </tr>
    <tr>
      <td colspan="5">
        <table class="table mb-0" id="ocasset">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th scope="row" colspan="5">Other Asset</th>
    </tr>
    <tr>
      <td colspan="5">
        <table class="table mb-0" id="othasset">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th scope="row" colspan="5">Stock</th>
    </tr>
    <tr>
      <td colspan="5">
        <table class="table mb-0" id="stock">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-striped table-bordered" id="liabilities">
  <thead>
    <tr>
      <th scope="col" style="width: 40%;">LIABILITIES</th>
      <th scope="col" style="width: 13%;">Current</th>
      <th scope="col" style="width: 13%;">Previous</th>
      <th scope="col" style="width: 13%;">% Change</th>
      <th scope="col" style="width: 21%;">Avg(last 3 months)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" colspan="5">Accounts Payable</th>
    </tr>
    <tr>
      <td colspan="5">
        <table class="table mb-0" id="acc_pay">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th scope="row" colspan="5">LongTerm Liability</th>
    </tr>
    <tr>
      <td colspan="5">
        <table class="table mb-0" id="ltliab">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th scope="row" colspan="5">Other Current Liability</th>
    </tr>
    <tr>
      <td colspan="5">
        <table class="table mb-0" id="ocliab">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th scope="row" colspan="5">Other Liability</th>
    </tr>
    <tr>
      <td colspan="5">
        <table class="table mb-0" id="othliab">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-striped table-bordered" id="liabilities">
  <thead>
    <tr>
      <th scope="col" style="width: 40%;">EQUITY</th>
      <th scope="col" style="width: 13%;">Current</th>
      <th scope="col" style="width: 13%;">Previous</th>
      <th scope="col" style="width: 13%;">% Change</th>
      <th scope="col" style="width: 21%;">Avg(last 3 months)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" colspan="5">Equity</th>
    </tr>
    <tr>
      <td colspan="5">
        <table class="table mb-0" id="equity">
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% endblock body %}