

.forRecentNotification {
    width: 90%;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: black;
    padding: 10px;
}

.card{
    margin-bottom: 10px;
    background-color: rgb(252, 248, 244);
}

.card-body {
    padding: 5px;
}

.card-body h6 {
    font-size: 14px;
    font-weight: bold;
}

.card-body p {
    font-size: 14px;
    margin-bottom: 5px;
}

.card-body .notification_age {
    font-size: 12px;
}

.forbtn {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.new {
    overflow: hidden;
}

.form {
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.parent {
    position: relative;
    width: 90%;
    height: 550px;
    color: black;
    text-align: left;
}

.child_1 {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 10px;
}

.child_2,
.child_3 {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 5px;
}

.content {
    padding: 15px;
}

.col-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* for copy btn*/

.box {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 40px;
    border: 2px solid #EFEFEF;
    padding: 0 10px;
    border-radius: 4px;
}

.box .text {
    padding-top: 10px;
}

.copyBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}