i {
    font-size: 20px;
    margin-right: 15px;
}

.skeleton {
    font-family: 'Poppins';
    color: black;
    background-color: #f4f5fa;
}


h6 {
    font-weight: 500;
}

b {
    font-weight: 900;
}

.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	background-color: #f4f5fa;
	overflow-x: hidden;
	padding-top: 30px;
}

.sidenav a {
	padding: 15px 6px 6px 32px;
	text-decoration: none;
	font-size: 18px;
	color: black;
	display: block;
}

.sidenav a:hover {
	background-color: white;
    border-radius: 10px;
	color: #7a85f5;
}

.sidenav .current {
	color: #4a3aff;
}

.main {
	align-items: center;
    justify-content: center;
	margin-top: 50px;
	margin-left: 250px;
	margin-right: 20px;
	width: 80%;
	padding-top: 50px;
}

.month-dropdown {
	margin: 15px 0px 15px 0px;
}

.main .accordion .accordion-item {
	margin-bottom: 40px;
	border: 1px solid rgb(0, 0, 0);
}

#status_list li.list-group-item {
	margin-bottom: 15px;
	border: 1px black solid !important;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}
}

.topnav {
    overflow: hidden;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    background-color: #f4f5fa;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    padding: 14px 10px;
    font-size: 25px;
}


/* Apps common css */

.form {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    background-color: #d2d3d6 !important;
    color: black !important;
}

.customCard {
    background-color: white;
    border-radius: 5px;
}

.customCard-header {
    padding: 15px;
    border-bottom: 1px solid #f5f3f2;
}

.customCard-body {
    padding: 15px;
    margin-bottom: 20px;
    background-color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#rotateBtn {
    display: inline-flex;
    font-size: 60%;
    background-color: inherit;
    border: none;
    text-align: center;
}

#rotateBtn svg {
    width: 1.25em;
    height: 1.25em;
    fill: black;
    transition: transform 0.20s ease-in;
    transform-origin: center 45%;
}

#rotateBtn[aria-expanded="true"] svg {
    transform: rotate(90deg);
}